{:paths ["src"]

 :deps {metosin/malli {:mvn/version "0.20.0"}
        metosin/jsonista {:mvn/version "0.3.13"}
        io.modelcontextprotocol.sdk/mcp {:mvn/version "0.17.0"}
        io.modelcontextprotocol.sdk/mcp-json-jackson2 {:mvn/version "0.17.0"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}}

 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {org.clojars.lukaszkorecki/mokujin-logback {:mvn/version "1.0.0.93"}}}

           :test {:extra-paths ["test"]
                  :extra-deps {cheshire/cheshire {:mvn/version "6.1.0"}
                               nubank/matcher-combinators {:mvn/version "3.9.2"}
                               lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts ["-m" "kaocha.runner"]}

           :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                                 :sha "d997df866b2a04b7ce7b17533093ee0a2e2cb729"}}
                   :main-opts ["-m" "clj-check.check"
                               "src"]
                   :jvm-opts ["-Dclojure.main.report=stderr"]}

           :example-stdio {:extra-paths ["dev-resources"]
                           :main-opts ["-m" "mcp2000xl.examples.stdio-server"]}

           :example-http {:extra-paths ["dev-resources"]
                          :extra-deps {org.clojars.lukaszkorecki/utility-belt {:mvn/version "2.5.0"}
                                       ring/ring-jetty-adapter {:mvn/version "1.15.3"}
                                       ring/ring-core {:mvn/version "1.15.3"}
                                       ring/ring-defaults {:mvn/version "0.7.0"}
                                       ring/ring-json {:mvn/version "0.5.1"}}
                          :main-opts ["-m" "mcp2000xl.examples.http-server"]}}}
